apiVersion: apps/v1
kind: Deployment
metadata:
  name: rapidx-postgres
  labels:
    app: rapidx-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rapidx-postgres
  template:
    metadata:
      labels:
        app: rapidx-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          imagePullPolicy: IfNotPresent
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: rapidx-secrets
                  key: postgres-db
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: rapidx-secrets
                  key: postgres-user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rapidx-secrets
                  key: postgres-password
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: rapidx-postgres
  labels:
    app: rapidx-postgres
spec:
  type: ClusterIP
  selector:
    app: rapidx-postgres
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
